:root {
    --color-primario: #ff5733;
    /* --color-secundario: # */
}



body {
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif; */
    font-family: "Font Awensome", sans-serif;
    margin: 0;
}
 .container {
     margin: 0;
     background-image: url(./img/fondo-bienvenido-grande.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
     width: 100%;

}

header {
    margin: 0;
    width: 100%;
    display: flex;
    position: fixed;
    text-decoration: none;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.55);
    
}

header #aulaideal {
    font-size: 1rem;
    list-style: none;
    padding: 1rem;
    color: white;
}

.link {
    text-decoration: none;
    color: white;
}


#menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}



#menu ul li {
    display: flex;
    margin: 12px 1rem;
    padding: 15px 1rem;
    text-align: center;
    align-items: center;
    color: white;
    border-radius: 1px;
    font-size: 20px;
    transition: .2s ease-in-out;
    border: none;
}

#menu ul li:hover {
    cursor: pointer;
    background-color: var(--color-primario);
}

#container {
    height: 50vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    padding-top: 12rem;
}

#container h3 {
    font-size: 4rem;
    font-weight: 0;
    margin-top: 1rem;
}

#container h4 {
    font-size: 25px;
}

#btn {
    font-size: 24px;
    padding: 14px;
    background-color: var(--color-primario);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease;
}

#btn:hover {
    background-color: #d34626;
}



