:root {
    --color-primario: #f05f40;
    /* --color-secundario: #  */
}

:root {
    --font: "fontAwensome, Regular" , sans-Serif ;}

@font-face {
    font-family: var(--font);
    src: url(./font/fontawesome-webfont.ttf);
}


body {
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: "Font Awensome", sans-serif; */
    font-family: var(--font);   
    margin: 0;

}
 .container {
    min-width: 100%;
    height: 100vh;
    background-image: url(./img/fondo-bienvenido-grande.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
}

header {
    margin: 0;
    width: 100%;
    display: flex;
    position: fixed;
    text-decoration: none;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.55);
    transition: 3.25s ease all;
}

header #aulaideal {
    font-size: 1rem;
    list-style: none;
    padding: 12px;
    color: white;
}

.link {
    text-decoration: none;
    color: white;
}


#menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}



#menu ul li {
    display: flex;
    padding: 15px 1rem;
    margin: 9px 1rem;
    text-align: center;
    align-items: center;
    color: white;
    border-radius: 1px;
    font-size: 20px;
    transition: .3s ease all;
    /* border: none; */
}

#menu ul li:hover {
    cursor: pointer;
    background-color: var(--color-primario);
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

#container {
    height: 50vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    padding-top: 12rem;
}

#container #typed {
    font-size: 4rem;
    margin-top: 1rem;
    font-style: normal;
}

#container #title-h2 {
    font-size: 25px;
    margin-bottom: 4px;
}

.btn {
    display: inline-flex;
    font-size: 17px;
    padding: 18px 20px;
    background-color: var(--color-primario);
    border: none;
    cursor: pointer;
    transition: .3s ease;
    border-radius: 3px;
    color: white;
    margin-top: 30px;
}   

.btn:hover {
    background-color: #d34626;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

/* QUIENES SOMOS */

#section-container {
    align-items: center;
}

#div-nosotros {
    text-align: center;
    align-items: center;
    margin-top: 3rem;
}

#img-nosotros {
    width: 200px;
}

#container-2 {
    padding: 0 23% 60px;
    text-align: center;
    background-color: var(--color-primario);
}

#section-container-2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
}

#container-text .text {
    font-size: 40px;
}

#btn-info {
    font-size: 18px;
    width: 250px;
    height: 55px;
    background-color: white;
    border-radius: 3px;
    border: none;
    transition: .3s ease all;

}

#btn-info:hover {
    background-color: #efefef;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

#servicios {
    text-align: center;
    margin: 40px;
    font-size: 35px;
}

#container-cards-info {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.cards-info {
    width: 300px;
    padding: 0 100px;
    margin: 3rem;
    text-align: center;
    align-items: center;
}

.cards-info span {
font-size: 24px;    
}

#container-proyectos {
    background-color: #424141;
}


#title-proyectos {
    text-align: center;
    font-size: 3rem;
    color: white;
    padding: 3rem;  
}

#container-img-proyectos {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding-bottom: 4rem;
}

.img-proyect {
    width: 400px;
    margin: 1rem;
}

footer {
    background-color: #222;
    width: 100%;
    height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
}
